table {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse; 
    width: 100%;
}

caption .value {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    border-bottom: 1pt solid rgba(239, 240, 246, 1);
    display: flex;
    justify-content: space-between;
}

.title-table .value {
    width: 52px;
    height: 20px;
    border-radius: 8px;
    margin: 1rem;
}

.value.notPaid {
    background-color:#FFEFEF;
    color:rgba(255, 84, 96, 1);
}

.value.paid {
    background-color:#EEF6F6;
    color:rgba(31, 167, 175, 1);
}

.value.notPaid,
.value.paid {
    display: flex;
    justify-content: center;
}

thead {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.005em;
    color: #3F3F55;
}

tr {
    border-bottom: 1pt solid rgba(239, 240, 246, 1);
}

td {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.005em;
    color: #6E6E85;
    text-align: center;
}

tfoot {
    box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
    border-radius: 8px;
    text-align: center;
    height: 3rem;

}

tfoot td {
    color: #FF5460;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-decoration-line: underline;
}

.button-see-more:hover {
    color: #fa4a4ac5;
    transition: 0.3s;
}

@media (min-width: 601px) {
    .clients-table {
        width: 40%;
    }

    .clients-table table {
        min-width: 250px;
    }

    .title-table {
        display: flex;
        justify-content: space-between;
    }

    .title-table .value{
        width: 3rem;
        height: 2rem;
    }

    caption {
        font-size: 1.5rem;
        width: auto;
    }
}