@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Montserrat:wght@700&family=Nunito:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    border-radius: 10px;
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 23px 40px;
    gap: 10px;
}

.card p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 130%;
}


.paid-title {
    text-align: center;
}

.paid-value {
    white-space: nowrap;
}

.card-img {
    width: 50px;
}

.blue {
    background-color: rgba(63, 195, 213, 0.16);
}

.gray {
    background-color: rgba(199, 198, 205, 0.16);
}

.red {
    background-color: rgba(255, 82, 93, 0.16);
}

@media (min-width: 601px) {
    .card {
        width: 25%;
        height: 13rem;
        padding: 0px;
        flex-direction: column;
        justify-content: space-around;
    }

    .card .card-img {
        padding-top: 10px;
        width: 2.5rem;
    }
}